body{
    background-color: lightcoral;
}
main{
    width: 750px;
    margin: 20px 30px 10px;
    display: flex;
    align-items: center;
}
.tarjeta{
    width: 50px;
    height: 50px;
   
}
.section1{
    background-color: blueviolet;
}
.finalizar{
    width: 100px;
    height: 50px;
    color: black;
    border-radius: 5px;
}